---
import GitHub from "../icons/GitHub.astro";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import NextJs from "../icons/NextJs.astro";
import Mongo from "../icons/Mongo.astro";
import MYSQL from "../icons/MYSQL.astro";
import React from "../icons/React.astro";
import Vite from "../icons/Vite.astro";
import Nodejs from "../icons/Node.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-white text-black",
    icon: NextJs,
  },
  MONGO: {
    name: "Mongo",
    class: "bg-white text-black",
    icon: Mongo,
  },
  MYSQL: {
    name: "Mysql",
    class: "bg-white text-black",
    icon: MYSQL,
  },
  REACT: {
    name: "React",
    class: "bg-white text-black",
    icon: React,
  },
  VITE: {
    name: "Vite",
    class: "bg-white text-black",
    icon: Vite,
  },
  NODE: {
    name: "Node.js",
    class: "bg-white text-black",
    icon: Nodejs,
  },
};
const PROJECTS = [
  {
    title: "E-Commerce",
    description:
      "Este proyecto es una aplicación eCommerce completa desarrollada con Node.js y Sequelize para el backend, y React Vite para el frontend. La aplicación incluye funcionalidades para la gestión de productos, administración, facturación, y un carrito de compras.",
    github: "https://github.com/DaR3k6/Mi-tienda",
    image: "../assets/ecomerce.webp",
    tags: [TAGS.NODE, TAGS.MYSQL, TAGS.REACT, TAGS.VITE],
  },
  {
    title: "Portafolio de Usuarios",
    description:
      "Este proyecto permite a cada usuario crear y gestionar su propio portafolio, donde pueden subir y mostrar sus propios proyectos. El backend está desarrollado con Node.js y MongoDB, mientras que el frontend utiliza React con Vite.",
    github: "https://github.com/DaR3k6/Portafolio",
    image: "../assets/portafolio.webp",
    tags: [TAGS.NODE, TAGS.MONGO, TAGS.REACT, TAGS.VITE],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-white-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt=""
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-white-800 text-white-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map(tag => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-white-700 text-white-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}

              {/* {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )} */}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
